In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = 'https://dhlottery.co.kr/store.do?method=topStore&pageGubun=L645'
## method is POST in the site

In [ ]:
req = requests.get(url)
html = req.text
soup = BeautifulSoup(html, 'html.parser')
soup

In [ ]:
soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr:nth-child(1) > td:nth-child(2)')

In [ ]:
t_name = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')
t_type = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')
t_addr = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')
lName =[]
lType = []
lAddr = []

for i in range(len(t_name)):
    lName.append(t_name[i].text)
    lType.append(t_type[i].text.strip())
    lAddr.append(t_addr[i].text)

data = list(zip(lName, lType, lAddr))
final_data = pd.DataFrame(data, columns=['상호명', '구분', '소재지'])
final_data

end for now-----
-----------

In [ ]:
data = {'method':'topStore','nowPage':'1', 'rankNo':'','gameNo':'5133', 'drwNo':'1034', 'schKey':'all', 'schVal':''}

extra further with f12 - Network - cont + R - doubleclick top method - Payload - viewsource

In [2]:
lName =[]
lType = []
lAddr = []
no_t = []
for num in range(1000, 1035):
    url = 'https://dhlottery.co.kr/store.do?method=topStore&pageGubun=L645'
    data = {'method':'topStore','nowPage':'1', 'rankNo':'','gameNo':'5133', 'drwNo': str(num), 'schKey':'all', 'schVal':''}
    req = requests.post(url, data=data)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')
    

    t_name = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')
    t_type = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')
    t_addr = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')


    for i in range(len(t_name)):
        no_t.append(num)
        lName.append(t_name[i].text)
        lType.append(t_type[i].text.strip())
        lAddr.append(t_addr[i].text)

lotto = list(zip(no_t, lName, lType, lAddr))
final_data = pd.DataFrame(lotto, columns=['회차', '상호명', '구분', '소재지'])
final_data

       회차          상호명  구분                                               소재지
0    1000         행운식품  자동                                  서울 관악구 신원로3길 21
1    1000    로또백화점 홍은점  수동                           서울 서대문구 세검정로 99-1 1층 좌측
2    1000  인터넷 복권판매사이트  수동                            동행복권(dhlottery.co.kr)
3    1000         복권나라  수동                            서울 성동구 용답중앙15길 12-1 1층
4    1000      티에스네트웍스  자동  서울 영등포구 신길로28길  9 상가동 B2층 00006호(신길동, 힐스테이트클래시안)
..    ...          ...  ..                                               ...
407  1034       오천억복권방  자동                                  광주 서구 상무대로 1087
408  1034        제우스테크  자동                                    대전 서구 원도안로 30
409  1034        강경복권방  자동                       충남 논산시 강경읍 계백로 126-1,(대흥리)
410  1034         청룡마트  자동              충남 천안시 동남구 풍세로 1010-31 현대아파트상가B-102호
411  1034         스타복권  자동                              전남 목포시 고하대로 688-1 1층

[412 rows x 4 columns]

In [3]:
final_data.to_csv('lotto.csv', index=False, encoding='euc-kr')

In [4]:
df = pd.read_csv('lotto.csv', encoding='euc-kr')

In [5]:
df.head()

     회차          상호명  구분                                               소재지
0  1000         행운식품  자동                                  서울 관악구 신원로3길 21
1  1000    로또백화점 홍은점  수동                           서울 서대문구 세검정로 99-1 1층 좌측
2  1000  인터넷 복권판매사이트  수동                            동행복권(dhlottery.co.kr)
3  1000         복권나라  수동                            서울 성동구 용답중앙15길 12-1 1층
4  1000      티에스네트웍스  자동  서울 영등포구 신길로28길  9 상가동 B2층 00006호(신길동, 힐스테이트클래시안)

In [ ]:
df['회차'].value_counts()

In [ ]:
df["구분"].value_counts()

In [ ]:
## df["특별시도"] = df["소재지"].apply(lambda x: x.split)

In [ ]:
x = []
for i in df["소재지"]:
    x.append(" ".join(i.split()[0:2]))

In [ ]:
df[df['특별시도'] == '서울 강남구']

In [ ]:
df["특별시도"] = df["소재지"].apply(lambda x: " ".join(x.split()[0:2]))

In [6]:
df['특별시도'].value_counts()

KeyError: '특별시도'

여기부턴 정답지

In [10]:
df['광역시'] = df['소재지'].str.split(expand=True)[0]

In [13]:
df['시도'] = df['소재지'].str.split(expand=True)[1]

In [22]:
df['광역시도'] = df['광역시'] + " "  + df['시도']

In [24]:
df[df['광역시도'] == '서울 관악구']

       회차      상호명  구분                소재지 광역시   시도    광역시도
0    1000     행운식품  자동   서울 관악구 신원로3길 21   서울  관악구  서울 관악구
130  1011  버스카드판매대  자동  서울 관악구 신림로 145-2   서울  관악구  서울 관악구
198  1019     장수복권  수동  서울 관악구 난곡로 223 1층  서울  관악구  서울 관악구
391  1033    헬스프라자  수동  서울 관악구 관악로 184 1층  서울  관악구  서울 관악구